<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MARKS</h1>
    <h2> Student Name : {{studentname}}</h2>
    <h2> Standard  : {{standard}}</h2>
   
    <h2> <b> subject</b> </h2>
    {% for i in subject%}
           <h3>{{i}}</h3>
    {% endfor %}

   <h3> The marks more then 33 the you will be pass </h3>
   
   {% if marks >= 33 %}
    <h2> congtrats you are pass</h2>
    {% else %}
        <h2> Fail </h2>
   {% endif %}




   
</body>
</html>