<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Team Page</h1>
    <h1>Team Name : {{teamname}}</h1>
    <h1> Captain Name  : {{captain}}</h1>
   
    {% for i in playerlist %}
           <h3>{{i}}</h3>
    {% endfor %}

   <h1>The have 5 trophy </h1>
   
   {% if trophy == "5" %}
    <h1>champions team </h1>
    {% else %}
        <h1>donkey</h1>
   {% endif %}
</body>
</html>