<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Team Page</h1>
    <h2>Team Name : {{teamname}}</h2>
    <h2> Captain Name  : {{captain}}</h2>
   
    {% for i in playerlist %}
           <h3>{{i}}</h3>
    {% endfor %}

   <h3>The have 5 trophy </h3>
   
   {% if trophy >= 5 %}
    <h3>champions team </h3>
    {% else %}
        <h3> loss</h3>
   {% endif %}
</body>
</html>